{% extends "layout.html" %}
{% block content %}
<h2> Welcome to NIE IEEE STUDENT BRANCH</h2>
<h3>
    What is NISB?
</h3>
    <p>
    NISB is the IEEE student branch of National Institute of Engineering. It is one of the largest and most active student branches of Karnataka. Having been active for a decade, we have been honoured and humbled with numerous awards and accolades over time, including "The Best Student Chapter" of Region 10­ Bangalore. We organize and host a wide range of technical workshops and events. We have our odd sem fest ADROIT and even sem fest ANKURA. Electronika , IPL are few our signature events.
    </p>

<h3>
Why NISB?
</h3>
<p>
    NISB conducts various kinds of workshops, seminars, webinars, technical talks, competitions, hackathons, and events througout the semester to help its members for the all round development with the advancing technology.
</p>

<h4>
    Apart from these, NISB also has unique practices like
    </h4>
    <ul>
        <li>Focus Groups</li>
        <li>WIE Weekly Meetups</li>
            <li>Technical Blog</li>
        <li>Industrial Visits</li>
        <li>Social Initiatives</li>
    </ul>
{% endblock content %}